<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <display-name>DiscoJuice Shibboleth Discovery Service</display-name>
    <!-- proxy servlet -->
    <servlet>
        <servlet-name>MetadataProxy</servlet-name>
        <servlet-class>nl.mpi.shibboleth.ds.metadata.proxy.MetadataProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetadataProxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
    <!-- idp servlet -->
    <servlet>
        <servlet-name>DiscoJuice</servlet-name>
        <servlet-class>nl.mpi.shibboleth.ds.ServletDiscojuice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscoJuice</servlet-name>
        <url-pattern>/discojuice</url-pattern>
    </servlet-mapping>
    <!-- status servlet -->
    <servlet>
        <servlet-name>MetadataStatus</servlet-name>
        <servlet-class>nl.mpi.shibboleth.ds.status.ServletStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetadataStatus</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <!-- config servlet -->
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>nl.mpi.shibboleth.ds.config.ServletConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <!-- specify the discojuice JSON metadata source -->
    <context-param>
        <param-name>metadata-source</param-name>
        <param-value>http://localhost:8080/DS/clarin_spf_idps.json</param-value>
    </context-param>
    <!-- specify the display name of this page -->
    <context-param>
        <param-name>title</param-name>
        <param-value>Clarin EU Service Provider</param-value>
    </context-param>
    <context-param>
        <param-name>subtitle</param-name>
        <param-value>Select your Identity Provider</param-value>
    </context-param>
    <!-- specify a no javascript DS shibboleth endpoint -->
    <context-param>
        <param-name>noscipt-ds-fallback</param-name>
        <param-value>https://lux17.mpi.nl/Shibboleth.SSO/Login</param-value>
    </context-param>
    <context-param>
        <param-name>provider-help</param-name>
        <param-value>If you cannot find your institution in the list above please select the \"Clarin.eu website account\" and use your credentials of the &lt;a href=\"https://user.clarin.eu/user\"&gt;CLARIN website&lt;/a&gt;. For questions please contact &lt;a href=\"mailto:spf@clarin.eu\"&gt;spf@clarin.eu&lt;/a&gt;.</param-value>
    </context-param>
    <context-param>
        <param-name>language-mappings</param-name>
        <param-value>(en-US,en);(en,en);(nl_NL,nl);(nl,nl);(pt,pt);(de,de);(fr,fr);(es_ES, es);(es,es)</param-value>
    </context-param>
    <context-param>
        <param-name>default-language</param-name>
        <param-value>en</param-value>
    </context-param>
</web-app>
