<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Shibboleth Metadata Conversion API</display-name>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>    

    <!-- Conversion API servlet -->
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
        
    <!-- proxy servlet -->
    <servlet>
        <servlet-name>MetadataProxy</servlet-name>
        <servlet-class>nl.mpi.shibboleth.ds.metadata.proxy.MetadataProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetadataProxy</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>
    
    <!-- status servlet -->
    <servlet>
        <servlet-name>MetadataStatus</servlet-name>
        <servlet-class>nl.mpi.shibboleth.ds.status.ServletStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetadataStatus</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    
    <!-- specify the discojuice JSON metadata source -->
    <context-param>
        <param-name>metadata-source</param-name>
        <!--param-value>file:///data/idps.json</param-value-->
        <param-value>http://localhost:8080/DS/clarin_spf_idps.json</param-value>
    </context-param>
    
    <!-- Application configuration -->
    <!--
    <context-param>
        <param-name>GEO-IP-DATABASE</param-name>
        <param-value>/Users/wilelb/Code/servers/apache-tomcat/temp/geolookup/GeoLiteCity.dat</param-value>
    </context-param>
        -->
    <context-param>
        <param-name>LOCAL-IP</param-name>
        <param-value>172.16.16.</param-value>
    </context-param>
    <context-param>
        <param-name>PUBLIC-IP</param-name>
        <param-value>195.169.108.192</param-value>
    </context-param>
    <context-param>
        <param-name>REPORTING</param-name>
        <param-value>/Users/wilelb/Code/work/clarin/git/aai/aai-discovery/discovery-metadata-api/src/main/resources/reporting.properties</param-value>
    </context-param>
</web-app>
